.table {
	color: $__gray;
	max-width: $__full__width;
	margin-bottom: 0;
	width: $__full__width;

	&>tbody {
		&>tr {
			&>th {
				border-top: 0;
				@include margin-padding(null, 10px 8px);
			}
		}
	}

	&.no-border {

		&>tbody,
		tfoot {
			&>tr {

				&>td,
				th {
					border-top: 0;
					@include margin-padding(null, 10px 8px);
				}
			}
		}
	}

	&.dataTable {
		border-collapse: collapse !important;
	}

	thead {
		background-color: $__light-pale-blue;
		border-bottom: 1px solid rgba(0, 0, 0, 0.03);

		tr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);

			&:last-child {
				border-color: $__transparent;
			}

			th {
				font-weight: $__semibold;
				border: 0;
			}
		}
	}

	&.table-center {

		th,
		td {
			vertical-align: $__middle;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);

			&:last-child {
				border-color: $__transparent;
			}
		}
	}
}

.table-striped {
	&>thead {
		&>tr {
			&:nth-of-type(2n+1) {
				background-color: $__light-pale-blue;
			}
		}
	}

	thead {
		tr {
			border-color: $__transparent;
		}
	}

	tbody {
		tr {
			border-color: $__transparent;

			&:nth-of-type(even) {
				background-color: rgba(255, 255, 255, 0.3);
			}

			&:nth-of-type(odd) {
				background-color: rgba(235, 235, 235, 0.4);
			}
		}
	}
}

.table-nowrap {

	th,
	td {
		white-space: nowrap;
	}
}

table {
	&.table {
		td {
			h2 {
				display: $__inline__block;
				font-size: $__inherit;
				font-weight: $__regular;
				vertical-align: $__middle;
				@include margin-padding(0, 0);

				&.table-avatar {
					align-items: $__center;
					display: $__inline__flex;
					font-size: $__inherit;
					font-weight: $__regular;
					vertical-align: $__middle;
					white-space: $__nowrap;
					@include margin-padding(0, 0);
				}

				a {
					color: $__gray;

					&:hover {
						color: $__primarycolor;
					}
				}

				span {
					color: $__dark__gray;
					display: $__block;
					font-size: $__font__size__12;
					margin-top: 3px;
				}
			}
		}
	}
}

.table-hover {
	tbody {
		tr {
			&:hover {
				background-color: $__mix__gray;

				td {
					color: $__dark-slate-blue;
				}
			}
		}
	}
}

.table-bordered {
	border: 1px solid rgba(0, 0, 0, 0.05) !important;

	th,
	td {
		border-color: rgba(0, 0, 0, 0.05);
	}
}

.card-table {
	.card-body {
		@include margin-padding(null, 0);

		.table {

			td,
			th {
				border-top: 1px solid $__sea__gray;
				white-space: $__nowrap;
				@include margin-padding(null, 1rem 0.75rem);
			}

			&>thead {
				&>tr {
					&>th {
						border-top: 0;
					}
				}
			}

			tr {

				th,
				td {
					&:first-child {
						padding-left: 1.5rem;
					}

					&:last-child {
						padding-right: 1.5rem;
					}
				}
			}
		}
	}
}

table {
	&.dataTable {
		thead {
			.sorting_asc {
				&:after {
					top: 6px;
				}

				&:before {
					top: 6px;
				}
			}
		}
	}
}

table {
	&.dataTable {
		thead {
			.sorting_desc {
				&:before {
					top: 6px;
				}

				&:after {
					top: 6px;
				}
			}
		}
	}
}

table {
	&.dataTable {
		thead {
			.sorting {
				&:before {
					top: 6px;
				}

				&:after {
					top: 6px;
				}
			}
		}
	}
}

// vuejs style //

#delete_modal {
	.modal-content {
		text-align: $__center;
	}
}

.table-responsive {
	white-space: $__nowrap;
}

.b-table-sticky-header,
.table-responsive,
[class*=table-responsive-] {
	margin-bottom: 0rem !important;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
	background: #f8f9fa;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
	color: inherit;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	background: #f8f9fa !important;
}

td.ant-table-column-sort {
	background-color: #fff;
}

.ant-table-thead>tr>th {
	border-bottom: 0px solid #f0f0f0 !important;
}

// .ant-table-row .bg-danger-light,
// .bg-success-light {
// 	border-radius: 50px !important;
// }

.ant-tag {
	font-size: 13px;
	border: 0px solid #d9d9d9 !important;
	border-radius: 0.25rem;
	text-transform: lowercase;
}

.ant-table-tbody .ant-tag-red {
	color: #FFFFFF;
	background-color: #e84646 !important;
}

.ant-table-tbody .ant-tag-success {
	color: #FFFFFF;
	background-color: #7bb13c !important;
}

.ant-table-tbody .ant-tag-warning {
	color: #FFFFFF;
	background-color: #ffbc34 !important;
}

.table-avatar .avatar-name {
	font-size: 14px;
	color: #666;
	font-weight: 400;
}

.ant-table-tbody>tr.ant-table-row-selected>td {
	background: transparent !important;
}

.ant-table .ant-table-tbody tr td .product-img img {
	min-width: 40px;
	width: 40px;
	height: 40px;
	border: 0;
}

.ant-popover-inner {
	max-width: 276px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0.3rem
}

.ant-popover-title {
	padding: 0.5rem 1rem;
	margin-bottom: 0;
	font-size: 1rem;
	background-color: #f0f0f0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}

.ant-popover-inner-content {
	padding: 1rem 1rem;
	color: #212529;
}

.ant-table-thead th.ant-table-column-sort {
	background: #FAFBFE;
}

.ant-table .ant-table-tbody tr:hover {
	background: #f5f5f5;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
	padding: 10px;
	color: #637381;
	font-weight: 500;
	vertical-align: middle;
	white-space: nowrap;
}

.ant-table .ant-table-thead th {
	font-weight: 600;
	color: #212B36;
	padding: 10px;
	white-space: nowrap;
	font-size: 1rem;
}

.ant-table .ant-table-selection .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #FF9F43;
	border: 1px solid #B9B9C3;
}

.ant-table .ant-table-tbody tr td .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #FF9F43;
	border: 1px solid #B9B9C3;
}

.dash-count .dash-counts h4 {
	color: #fff;
}

.dash-count .dash-counts h5 {
	color: #fff;
}

.datatableIndex .ant-pagination {
	display: none;
}

.sidebar-menu li a[data-bs-toggle=collapse][aria-expanded=true] .menu-arrow {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
	border-color: #ced4da !important;
}

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
	display: none;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	display: none;
}

.ant-table tbody tr:hover {
	background: #f5f5f5;
}

// .ant-pagination-prev .ant-pagination-item-link,
// .ant-pagination-next .ant-pagination-item-link {
// 	display: none;
// }

.ant-pagination-item-active {
	background: #19c1dc !important;
	border-color: #19c1dc;
}

.ant-pagination-item {
	border-radius: 5px;
	background: #637381;
	color: #fff;
}

.ant-checkbox-inner {
	background-color: transparent;
	border-radius: 0px;
}

// .ant-table-row .bg-danger-light,
// .bg-success-light {
// 	border-radius: 0px !important;
// }

.ant-tooltip.ant-tooltip-placement-top {
	display: none;
}

.ant-table-content table .ant-table-tbody tr td h2 a {
	color: #333333 !important;
	font-size: 16px;
	font-weight: 400;
}

.ant-table .ant-table-thead tr th {
	background-color: #f8f9fa;
}

.ant-table-tbody>tr>td {
	padding: 10px 0px 0px !important;
}

.ant-table-content table .ant-table-tbody tr td {
	color: #333333 !important;
	font-size: 16px;
	font-weight: 400;
}

.table {
	--bs-table-bg: transparent;
}

.pagination>.active>a,
.pagination>.active>span {
	color: #ffffff !important;
}
.pass-group {
	position:relative;
}
.toggle-password {
	position: absolute;
    right: 17px;
    top: 10px;
    color: gray;
    cursor: pointer;
    font-size: 1rem;
}